<% if can? :my_rooms, Room.new %>
  <%= link_to "My Rooms", rooms_my_rooms_path %>
<% end %>

<% if can? :unauthorized_rooms, Room.new %>
  <%= link_to "Unauthorized Rooms", rooms_unauthorized_rooms_path %>
<% end %>

  
  <h2>Listing Rooms</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Rules</th>
        <th>Minimum Days</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>City</th>
        <th>Owner</th>
        <th>Is Verified<th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        
        <tr>
          <td><%= link_to room.name, room %></td>
          <td><%= room.description %></td>
          <td><%= room.price %></td>
          <td><%= room.rules %></td>
          <td><%= room.minimum_days %></td>
          <td><%= room.address %></td>
          <td><%= room.latitude %></td>
          <td><%= room.longitude %></td>
          <td><%= room.city.name %></td>
          <td><%= room.user.username %></td>
          <td><%= room.is_verified %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add New Room', new_room_path %>
